body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
} 

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

h1 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.app-container {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.menu-item,
.cartItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
}

.item-info {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex: 1;
}

.potion-icon,
.add-button, 
.item-quantity {
  width: 60px; 
  height: 60px;
  flex-shrink: 0;
}

#items-menu,
#cart {
    margin: 1rem;
}

#cart {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.quantity-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quantity-container img {
    width: 24px;
    height: 24px;
}

.price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-container p {
    margin-left: auto;
}

.coin-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}